
<a class="nav-link" id="enquiry" href="~/enquiry">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-graduation-cap"></i></div>
    Enquiry
</a>
<a class="nav-link" id="counselling" href="~/counselling">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-mountain-sun"></i></div>
    Admission
</a>

<a class="nav-link" id="students" href="~/students">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
    Students
</a>

<a class="nav-link" id="fees" href="~/payment">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-dollar-sign"></i></div>
    Payments
</a>

<a class="nav-link" id="exam" href="~/exam">
    <div class="sb-nav-link-icon"><i class="fa-brands fa-quinscape"></i></div>
    Exam
</a>

<a class="nav-link" id="result" href="~/result">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-square-poll-vertical"></i></div>
    Result
</a>

<a class="nav-link" id="videos" href="~/streaming">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-video"></i></div>
    Videos
</a>

<a class="nav-link" id="documents" href="~/document">
    <div class="sb-nav-link-icon"><i class="fa-regular fa-file"></i></div>
    Documents
</a>
<a class="nav-link" id="quiz" href="~/quiz">
    <div class="sb-nav-link-icon"><i class="fa-brands fa-quinscape"></i></div>
    Quiz
</a>

<a class="nav-link" id="users" href="~/users">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-user-group"></i></div>
    Users
</a>

<a class="nav-link" id="settings" href="~/settings">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
    Settings
</a>

<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#moreOptions" aria-expanded="false" aria-controls="moreOptions">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    More Options
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="moreOptions" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" id="attendance" href="~/attendance"><div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-user"></i></div>Attendance</a>
        <a class="nav-link" id="batches" href="~/batch"><div class="sb-nav-link-icon"><i class="fa-solid fa-swatchbook"></i></div>Batches</a>
        <a class="nav-link" id="feestructure" href="~/fee"><div class="sb-nav-link-icon"><i class="fa-solid fa-comments-dollar"></i></div>Fee Structure</a>
        <a class="nav-link" id="flashcards" href="~/flashcards"><div class="sb-nav-link-icon"><i class="fa-solid fa-bolt"></i></div>Flash Cards</a>
        <a class="nav-link" id="products" href="~/product"><div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>Products</a>
        <a class="nav-link" id="accesories" href="~/accessories"><div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>Accesories</a>
        <a class="nav-link" id="reports" href="~/report"><div class="sb-nav-link-icon"><i class="fa-regular fa-flag"></i></div>Reports</a>
    </nav>
</div>
