<a class="nav-link" id="students" href="~/students">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
    Students
</a>

<a class="nav-link" id="fees" href="~/payment">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-dollar-sign"></i></div>
    Payments
</a>
