<a class="nav-link" id="counselling" href="~/counselling">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-mountain-sun"></i></div>
    Admission
</a>

<a class="nav-link" id="students" href="~/students">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
    Students
</a>
