<a class="nav-link" id="students" href="~/students">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
    Students
</a>

<a class="nav-link" id="exam" href="~/exam">
    <div class="sb-nav-link-icon"><i class="fa-brands fa-quinscape"></i></div>
    Exam
</a>

<a class="nav-link" id="result" href="~/result">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-square-poll-vertical"></i></div>
    Result
</a>

<a class="nav-link" id="videos" href="~/streaming">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-video"></i></div>
    Videos
</a>

<a class="nav-link" id="documents" href="~/document">
    <div class="sb-nav-link-icon"><i class="fa-regular fa-file"></i></div>
    Documents
</a>

<a class="nav-link" id="attendance" href="~/attendance">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-user"></i></div>
    Attendance
</a>
<a class="nav-link" id="batches" href="~/batch">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-swatchbook"></i></div>
    Batches
</a>
<a class="nav-link" id="reports" href="~/report">
    <div class="sb-nav-link-icon"><i class="fa-regular fa-flag"></i></div>
    Reports
</a>

<a class="nav-link" id="settings" href="~/settings">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
    Settings
</a>
