<a class="nav-link" id="students" href="~/students">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
    Students
</a>

<a class="nav-link" id="result" href="~/result">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-square-poll-vertical"></i></div>
    Result
</a>

<a class="nav-link" id="documents" href="~/document">
    <div class="sb-nav-link-icon"><i class="fa-regular fa-file"></i></div>
    Documents
</a>