.card {
    width: 700px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}
.stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.articles {
    font-size: 10px;
    color: #a1aab9;
}

.number {
    font-weight: 700;
    
}
 
 
 
