@using Zeeble.Shared.Entities
@{
    ViewData["Title"] = "Quiz";
    var rows = ViewData["Rows"] as IEnumerable<Bank>;
}
@section Styles{
    <partial name="_DataTableStyles" />
}
<div class="container-fluid px-4">
    <h3 class="mt-4 mb-3">Quiz</h3>
    
    <div class="row mt-3">
        <div class="col-12 p-1">
            <a href="~/quiz/add" class="btn btn-dark float-end">+</a>
        </div>

        <div class="col-12">
            <table id="datatableBank" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Standard</th>
                        <th>Subject</th>
                        <th>Chapter</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in rows)
                    {
                        <tr>
                            <td>@row.Title</td>
                            <td>@row.Standard.Name</td>
                            <td>@row.Subject.Name</td>
                            <td>@row.Chapter.Name</td>
                            <td align="right">
                                <a class="btn btn-sm btn-primary" title="Questions" href="~/quiz/questions?id=@row.Id"><i class="fa-regular fa-file"></i></a>
                                <a class="btn btn-sm kcc-red" href="~/quiz/delete?id=@row.Id"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_DataTableJs" />

    <script type="text/javascript">
        activeAdminMenu('#quiz');
        new DataTable('#datatableBank', {
            ordering: false
            });

    </script>
}