@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div class="top-row bg-white border-bottom  px-4">
            <a href="#" class="text-dark float-start" target="_blank">About</a>
        </div>

        <div>
            @Body
        </div>        
    </main>
</div>
