<div class="top-row ps-3 navbar nav-bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><h4 class="text-white">Bubble Check</h4> </a>
    </div>
</div>


<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">             
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
               Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scanning"> OMR Scanning </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="result">Results</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">Settings</NavLink>
        </div>

    </nav>
</div>
